body{
  font-family: DM Sans;
  background-color:rgb(203, 255, 161);
}


#submit-btn{
    display: block; /* to make margin auto work */
    margin-top : 20px;
    margin-left : auto;
    margin-right : auto;
    padding : 10px 15px;
    border-radius : 5px;
    color : white;
    background-color: #00a2ca;
    cursor : pointer;
}
#details{
    display: flex;
    margin-top: 15vh;
    flex-direction: column;
    padding-left: 40%;
    font-size: 30px;;
}
#qns-container{
    display: block ;
    width:100%;
    margin-top: 8vh;
    
}

.qns{
    border: 2px solid red;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;  
    padding: 30px;
    padding-top: 20px;
    font-size: 20px;
}