 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
#dialog{
    /* border: 2px solid rgb(255, 255, 255); */
    color:#D6CE15 ;
    width:40vw;
    margin-top: 15%;
    font-size: 40px;
    padding: 2% 3%;
}

.btn{
    
    display: inline-block;
    background: linear-gradient(to bottom, #53900F, #D6CE15);
    border: none;
    font-size: 20px;
    border-radius: 40px ;
    width:45%;
    height:50px;
}

.btn:hover{
    transform: scale(1.03);
    transition: transform 02s;
}

