body{
    
    font-family: DM sans;
} 

a,
a:hover,
a:active,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;
}

#header{
    position: fixed;
    background-color: rgb(120, 192, 255);
    height:13vh;
    display: flex;
    top:0;
    left:0;
    right:0;
    z-index:2;
}
#header div{
    display: inline;
}
#header-name{
    font-size: 60px;
    padding-left: 80px;
    
}

#header-logo{
    margin-left:30px;
    font-size: 50px;;
}


#settings-contianer{
    position: absolute;
    right:1%;
    padding-top: 10px;
    height:30%;
    position : absolute;
    top : 6px;
}

#settings-btn{
    padding: 20px 10px;
    border-radius: 20px;
    border: none ;
}


#settings-btn-icon{
    width : 70px;
    background-color: transparent;
    cursor : pointer;
}

#home-btn{
    padding: 20px 10px;
    border-radius: 20px;
    border: none ;
}


#home-contianer{
    position: absolute;
    left:1%;
    padding-top: 10px;
    height:30%;
    position : absolute;

    top : 6px;
}