body{
    font-family: DM sans;
    background-color: #1F2605;
} 

*{
    scrollbar-width: none;
}

*:focus{
    outline: none;
}


a,
a:hover,
a:active,
a:visited,
a:focus {
    color: inherit;
    text-decoration: none;
}

#header{
    position: fixed;
    background: linear-gradient(to bottom, #000000, #1f2605);
    height:13vh;
    padding-top: 3px;
    display: flex;
    top:0;
    left:0;
    right:0;
    z-index:100;
}
#header > div{
    display: inline;
}

#header-name{
    font-size: 60px;
    padding-left: 80px;
    
}

#header-logo{
    margin-left:10px;
    font-size: 50px;
    height:100%;
    width:30%;
}

#header-logo img{
    width:80%;
    height:100%;
}




#settings-container{
    right:1%;
    padding-top: 10px;
    width:50px;
    margin-left: auto;
    margin-right: 20px;
    height:30%;
    top : 6px;
    
}

#settings-container img{
    width : 60px;
    position : relative;
    margin-top : 2px;
}

#settings-container img:hover{
    cursor : pointer;
}

#settings-btn{
    padding: 20px 10px;
    border-radius: 20px;
    border: none ;
}


#settings-btn-icon{
    width : 70px;
    background-color: transparent;
    cursor : pointer;
}

#home-btn{
    padding: 20px 10px;
    border-radius: 20px;
    border: none ;
    margin-right: auto;
    margin-left: 20px;
    background-color:#000000;
    color:#D6CE15;
    font-weight: bold;
    font-size: 25px;
}

#home-btn:hover{
    background-color: #D6CE15;
    color: black;
    transition: background-color 0.3s,
                color 0.3s;
}


#home-container{
    left:1%;
    padding-top: 10px;
    height:30%;
    top : 6px;
}

