th,td{
    padding-left: 20px;
    
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #D6CE15;
    
}


#back-to-home{
    margin-top: 20px;
    height: 50px;
    background: linear-gradient(to bottom, #53900F, #D6CE15);
    border: none;
    font-size: 20px;
    border-radius: 40px ;
    font-weight: bold;
}

#summary {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-size: 30px;
    margin-bottom: 10vh;

}

#rating-box{
    display: flex;
    flex-direction: column;
    height:20vh;   
    /* border: 2px solid black ; */
    object-fit: contain;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}



.rate-btn{
    display: inline-block;
    background: linear-gradient(to bottom, #53900F, #D6CE15);
    border: none;
    font-size: 20px;
    border-radius: 40px ;
    margin-top: 2px;
    width: 50%;
    height:50px;
    
    
}

.star img{
      height:80px;
      width:80px;
      
}
.star{
    background-color: #333333;
    border : none;
    object-fit: contain;
    margin: -5px;
    
}

.your-ans{
      padding-left: 20px;
}

.crt-ans{
    padding-left: 20px;
    color: rgb(65, 228, 65);
}

.ans-match{
    color: rgb(65, 228, 65);

}
.ans-mismatch{
    padding-left: 20px;
    color: red;
} 

#score{
    display: block;
    font-size: 50px;
    text-align: center;
}
